/* Global Style */
body *::selection {
    color: #fff;
    background-color: var(--theme-color, #42b983);
}

::-webkit-scrollbar {
    width: 14px;
    background-color: #F1F1F1;
}

::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #A8A8A8;
}

/* Markdown Style */
article a:hover {
    color: #147cdd;
}

article blockquote {
    color: #828b93;
}

article blockquote code {
    font-weight: 400 !important;
}

article pre .docsify-copy-code-button {
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}

article pre:hover .docsify-copy-code-button {
    opacity: 1 !important;
}

/* Sidebar Style */
.sidebar {
    background-color: #fbfbfb;
}

.sidebar .app-name {
    font-weight: 400;
    margin: 35px 0 35px 0;
}

.sidebar ul li p.active > a {
    border-right: 2px solid;
    color: var(--theme-color,#42b983);
    font-weight: 600;
}

.sidebar hr {
    width: 90%;
    border: none;
    border-top: 2px solid #EDEDED;
}

.sidebar .sidebar-link {
    font-size: 12pt;
    font-weight: 600;
    text-decoration: none !important;
}

.sidebar .sidebar-link:hover {
    color: #464646;
}

.sidebar .sidebar-link::before {
    content: "- ";
    color: #9E9E9E;
}

.sidebar .search {
    background-color: #fbfbfb;
    border-color: #fbfbfb;
}

.sidebar .search input {
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
    background-color: transparent;
    
    transition-property: background-color, border-color;
    transition-duration: .2s;
    -webkit-transition-property: background-color, border-color;
    -webkit-transition-duration: .2s;
    -moz-transition-property: background-color, border-color;
    -moz-transition-duration: .2s;
    -o-transition-property: background-color, border-color;
    -o-transition-duration: .2s;
}

.sidebar .search input:hover {
    background-color: #f8f8f8;
}

.sidebar .search input:focus {
    box-shadow: none !important;
    background-color: #f1f1f1;
}

/* Code Highlight Style */
.token.string {
    color: #8eb472;
}

.token.function {
    color: #43A3EF;
}

.token.keyword, .token.operator {
    color: #A878DD;
}

.token.comment, .token.cmd {
    color: #a5abb6;
}

.token.class-name {
    color: #E5A44B;
}

/* DarkMode Style */
@media(prefers-color-scheme: dark) {
    body {
        background-color: #35363A;
    }

    ::-webkit-scrollbar {
        width: 14px;
        background-color: #424242;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #686868;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: #7B7B7B;
    }

    article p, strong, code, h1 span, h2 span, h3 span, h4 span, h5 span, li, li::marker {
        color: #e0e0e0 !important;
    }

    article code, pre, code:not(span) {
        background-color: #464646 !important;
    }

    article em {
        color: #b8b8b8 !important;
    }

    article table, th, td {
        border-color: #5a5a5a !important;
    }

    article table th, td {
        color: #e0e0e0 !important;
    }

    article tr:nth-child(2n) {
        background-color: #464646 !important;
    }

    article p.warn {
        background-color: rgba(35, 241, 149, 0.1) !important;
    }

    article p.tip {
        background-color: #464646 !important;
    }

    .pagination-item-title {
        color: #ffffff !important;
    }

    .pagination-item-label span {
        color: var(--theme-color, #42b983);
    }

    .pagination-item-label svg {
        display: none;
    }

    .app-nav a {
        color: #ffffff !important;
    }

    .app-nav a.active {
        color: var(--theme-color, #42b983) !important;
    }

    .sidebar-toggle {
        background-color: transparent;
    }

    .sidebar {
        background-color: #3c3e41 !important;
    }

    .sidebar h1 a, .sidebar p, strong {
        color: #ffffff !important;
    }

    .sidebar a {
        color: #cecece !important;
    }

    .sidebar li.active > a, .sidebar p.active > a {
        color: var(--theme-color, #42b983) !important;
    }

    .sidebar hr {
        border-color: #8a8a8a;
    }

    .sidebar .search {
        background-color: #3c3e41 !important;
        border-color: #3c3e41;
    }

    .sidebar .search input {
        color: #ffffff;
        caret-color: #dbdbdb;
    }

    .sidebar .search input:hover, input:focus {
        background-color: #4b4d52 !important;
    }

    .sidebar .search input::placeholder {
        color: #bdbdbd;
    }

    .token.punctuation {
        color: #9FA8AB;
    }
}
